<!DOCTYPE html>
<html><head>
    <title>
        Login</title>
    </head>
 <html>    
 <body style=background-color:palegreen> 
<center>
<img src=https://upload.wikimedia.org/wikipedia/commons/5/5b/Swechalogo.png width=150 
Height=100” > </img> 
<h1 Style=color:blue;text-align:center >LAB LOG BOOK SYSTEM</h1> 
<h1>Enter Your Details </h1>

<center>
<table border>
<tr>
<th>NAME</th>
<th>ROLL NO</th>
<th>TIME IN</th>
<th>TIME OUT</th>
<th>EXPERIMENT DID</th>
<th>DEALING STAFF</th>
</tr>
<tr>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
</tr>
<tr>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
</tr>
<tr>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
</tr>
<tr>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
</tr>
<tr>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
</tr>
<tr>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
<th><input type="text" name="text"/></th>
</tr>
</table>
</body>
</html>
