<!DOCTYPE html>
<html>
  <head>
    <title>
      home page
    </title>
    <head>
      <body style=background-color:orange>
        <center>
        <img src=https://upload.wikimedia.org/wikipedia/commons/5/5b/Swechalogo.png width=150 
        Height=100></img>
     <u><h1><marquee>NARAYANA ENGINEERING COLLEGE-GUDUR</marquee></h1></u>
   <u><h1 style=color:blue;text:center>
       LAB LOG BOOK SYSTEM
   </h1></u>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxMS52wgLloqSbNPXv-zxh9MomOgtv3fT0vg&usqp=CAU"
  height="150px"id="user">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU-TEOGRmqQsggGCV64ASUAX3hi4c2fCKsog&usqp=CAU"
  height="150px"id="admin">
 <br/>
  <a href="user"><button>user</button></a> 
  <a href="admin"><button>admin</button></a> 
  </center>
</body>

   
    
