<!DOCTYPE html>
 <html>    
 <body style=background-color:pink>  
<center>
<img src=https://upload.wikimedia.org/wikipedia/commons/5/5b/Swechalogo.png width=150 
Height=100” > </img> 
<h1 Style=color:blue;text-align:center >LAB LOG BOOK SYSTEM</h1> 
<h1>User Login </h1>
<div class="content-section jumbotron">
  <form method="POST">
      <div class="row">
          <div class="form-group">
              <input type="text" placeholder="username" name="username"><br/>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
              <input type="password" placeholder="password" name="password"><br/>
          </div>
      </div>
              <div class="row">
                  <div class="form-group">
                      <input type="submit" class="btn btn-primary" name="submit" value="submit"><br/>
                  </div>
              </div>

</form>
</div>
</center>
</body>
</html>
